---
import Layout from '../../layouts/Layout.astro';
import type { WPArticle } from '../../components/Article.astro';

export async function getStaticPaths() {
	const res = await fetch("https://ceeii.ar/wp/wp-json/wp/v2/posts?_embed");
	const posts: WPArticle[] = await res.json();
	const categories = await (await fetch("https://ceeii.ar/wp/wp-json/wp/v2/categories")).json();

	return posts.map(p => ({
		params: { category: categories.find((c: any) => c.id === p.categories[0]).slug, slug: p.slug },
		props: {
			content: p.content.rendered,
			title: p.title.rendered,
			imageLink: p._embedded["wp:featuredmedia"][0].source_url,
			imageCaption: p._embedded["wp:featuredmedia"][0].caption.rendered,
			date: p.date,
			author: p._embedded.author[0].name,
			category: categories.find((c: any) => c.id === p.categories[0]).name
		}
	}));
}

const { content, imageLink, imageCaption, date, title, author, category } = Astro.props;
---

<Layout title={"CEEII | " + title}>
	<main>
		<figure class="relative">
			<div class="absolute inset-0 bg-gradient-to-t from-blue-dark/70 to-blue-light/0">
			</div>
			<img class="h-48 md:h-96 object-cover w-full" src={imageLink} alt={imageCaption}>
			<figcaption set:html={imageCaption} class="absolute bottom-4 right-6 italic text-blue-light md:text-xl drop-shadow text-right" />
		</figure>
		<article class="py-8 px-4 md:px-0 md:mx-auto prose md:prose-lg prose-h1:font-normal prose-h1:mb-2 prose-slate">
			<div class="md:text-xl">{new Date(date).toLocaleDateString("es-AR", { year: "numeric", month: "long", day: "numeric" })}</div>
			<h1 set:html={title} />
			<div class="italic text-xl md:text-2xl">Por {author}, en {category}</div>
			<div set:html={content} class="grid gap-2 text-2xl leading-9 font-sans" />
		</article>
	</main>
</Layout>
