---
import Layout from '../layouts/Layout.astro';
import Article from '../components/Article.astro';
import type { WPArticle } from '../components/Article.astro';

const res = await fetch("https://ceeii.ar/wp/wp-json/wp/v2/posts?per_page=8&_embed");
const articles: WPArticle[] = await res.json();
articles.sort(a => a.sticky ? -1 : 1);
const totalPages = Number(res.headers.get("x-wp-totalpages"));
const pagination = new Array(totalPages).fill(0);
---

<Layout title="Comisión de Estudios Institucionales">
	<main class="px-4 md:px-0 max-w-screen-lg md:max-w-screen-xl 2xl:max-w-screen-2xl md:mx-auto py-8 text-blue-darker grid gap-8">
		<ul class="grid gap-4 md:grid-cols-3 md:grid-rows-[repeat(3,auto)] md:gap-14">
			{articles.map(a => (
				<li class={a.sticky ? "grid gap-4 md:col-span-2" : "grid gap-4"}>
					<Article
						{...a}
					/>
					{a.sticky && (
						<hr class="border-px border-blue-dark w-full md:hidden">
					)}
				</li>
			))}
		</ul>
		<ol class="flex gap-4 w-full justify-center py-4 md:py-8">
			{pagination.map((_, i) => (
				<li>{i + 1}</li>
			))}
		</ol>
	</main>
</Layout>
