---
export interface WPArticle {
	slug: string;
	sticky: boolean;
	title: {
		rendered: string;
	};
	excerpt: {
		rendered: string;
	};
	content: {
		rendered: string;
	};
	categories: number[];
	author: number;
	id: number;
	date: string;
	_embedded: {
		author: {
			name: string;
		}[];
		"wp:featuredmedia": {
			alt_text: string;
			source_url: string;
			caption: {
				rendered: string;
			};
		}[];
	};
}

interface Props extends WPArticle {}

const { categories, slug, title, excerpt, sticky, id, date, _embedded: { author, "wp:featuredmedia": [ { source_url: imageLink, alt_text: imageAlt } ] }} = Astro.props;

const category = await (await fetch(`https://ceeii.ar/wp/wp-json/wp/v2/categories/${categories[0]}`)).json();
---

<article>
	<img class={!sticky ? "w-full row-span-2 md:w-full object-cover shadow md:h-[400px] h-48 mt-4 float-left" : "h-[300px] md:h-[400px] md:w-full object-cover shadow"} src={imageLink} alt={imageAlt}>
	<a href={`${category.slug}/${slug}`} class="self-center">
		<h1 set:html={title.rendered} class="text-3xl pt-2"></h1>
	</a>
	<p class="font-sans mb-4">{new Date(date).toLocaleDateString("es-AR", { year: "numeric", month: "long", day: "numeric" })}, por {author[0].name}, en <em>{category.name}</em></p>
	<div set:html={excerpt.rendered} class={sticky ? "text-lg leading-6 line-clamp-5 md:line-clamp-4 font-sans opacity-85" : "text-lg leading-6 line-clamp-3 font-sans opacity-85" }>
	</div>
	<a href={`${category.slug}/${slug}`}>
		<p class="font-bold pt-4">Seguir leyendo →</p>
	</a>
</article>
