---
interface Props {
	title: string;
}

const { title } = Astro.props;

const demoNavigation = [
	{
		name: "Initivm",
		submenu: [
			{ href: "/denovis", name: "De Novis"}
		],
	},
	{
		name: "Actiones",
		href: "/actiones",
	},
	{
		name: "Scripta",
		submenu: [
			{ href: "/diccionario", name: "Diccionario"},
			{ href: "/biblioteca", name: "Biblioteca"}
		],
	},
	{
		name: "Nvntivm",
		href: "/nvntium",
	},
	{
		name: "Praeterivm",
		href: "/praeterivm",
	},
];

const demoEmail = "info@comisiondeestudios.com";

const demoSocials = [
	{ logo: "fb.svg", href: "https://fb.com/ceeii" },
	{ logo: "ig.svg", href: "https://ig.com/ceeii" },
	{ logo: "tw.svg", href: "https://tw.com/ceeii" },
];

const demoCopyright = `© 2024 Comisión de Estudios Institucionales. Todos los derechos reservados`;

const demoCredits = "Diseño y desarrollo por Lucas Leonardo Ciancaglini";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-blue-light dark:bg-blue-dark font-serif">
		<header class="md:px-8 md:py-6 bg-blue-dark text-blue-light font-sc">
			<details class="w-full md:hidden">
				<summary class="px-8 py-6 flex justify-between items-center">
					<a href="/">
						<h1 class="text-2xl">CEEII</h1>
					</a>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" fill="none" viewBox="0 0 26 18">
							<path stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" d="M1 1h24M1 9h24M1 17h24" />
						</svg>
					</div>
				</summary>
				<div class="grid">
					{demoNavigation.map(nav => (
						<details class="py-4 w-full odd:bg-blue-darker group">
							<summary class="px-8 flex items-center justify-between">
								<a href={nav.href ?? ""}>
									<p class="text-xl">{nav.name}</p>
								</a>
								<svg class={nav.submenu ? "w-4 h-4 transition group-open:rotate-180" : "w-4 h-4 invisible"} xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
									<g clip-path="url(#a)">
										<path
												stroke="currentColor"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="4"
												d="m0 6 12 12L24 6"
										/>
									</g>
									<defs>
										<clipPath id="a">
											<path fill="currentColor" d="M0 0h24v24H0z" />
										</clipPath>
									</defs>
								</svg>
							</summary>
							{nav.submenu && (
								<div class="grid pl-10 whitespace-nowrap">
									{nav.submenu.map(sub => (
										<a href={sub.href} class="text-lg p-2">{sub.name}</a>
									))}
								</div>
							)}
						</details>
					))}
				</div>
			</details>
			<div class="mx-auto max-w-screen-2xl justify-between items-center hidden md:flex">
				<h1 class="text-2xl">Comisión de Estudios Institucionales</h1>
				<nav class="flex gap-8">
					{demoNavigation.map(nav => (
						<div class="inline-block relative group">
							<a href={nav.href ?? "/"}>
								<p class="text-xl">{nav.name}</p>
							</a>
							{nav.submenu && (
								<div class="hidden group-hover:grid absolute bg-blue-dark/90 p-2 left-0 whitespace-nowrap z-10">
									{nav.submenu.map(sub => (
										<a href={sub.href} class="text-lg hover:bg-blue-light hover:text-blue-dark p-2">{sub.name}</a>
									))}
								</div>
							)}
						</div>
					))}
				</nav>
			</div>
		</header>
		<slot />
		<footer class="px-4 py-6 bg-blue-dark text-blue-light">
			<div class="max-w-screen-xl md:mx-auto grid grid-cols-2 md:flex md:justify-between gap-y-8">
				<div>
					<h3 class="font-bold font-sc">Categorías</h3>
					<ul>
						{demoNavigation.map(dc => (
							<li>
								<p>{dc.name}</p>
							</li>
						))}
					</ul>
				</div>
				<div>
					<h3 class="font-bold font-sc">Navegación</h3>
					<ul>
						{demoNavigation.map(dn => (
							<li>
								<p>{dn}</p>
							</li>
						))}
					</ul>
				</div>
				<div class="col-span-2 md:col-span-1">
					<h3 class="font-bold font-sc">Contacto</h3>
					<p>{demoEmail}</p>
				</div>
				<div class="md:text-right md:grid md:gap-4">
					<div class="flex col-span-2 md:grid md:justify-end">
						<p>CEEII</p>
						<div class="flex">
							{demoSocials.map(ds => (
								<a href={ds.href}>
									<img src={ds.logo}>
								</a>
							))}
						</div>
					</div>
					<p class="col-span-2">{demoCredits}</p>
					<p class="col-span-2 whitespace-pre-line">{demoCopyright}</p>
				</div>
			</div>
		</footer>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;700&family=Alegreya:ital,wght@0,400;0,700;1,400&family=Alegreya+Sans:ital,wght@0,400;0,700;1,400&display=swap');
</style>
